
# PlanAhead Generated physical constraints 

NET "entrada[1]" LOC = L3;
NET "entrada[0]" LOC = P11;
NET "display[5]" LOC = H12;
NET "display[4]" LOC = N14;
NET "display[3]" LOC = N11;
NET "display[2]" LOC = P12;
NET "display[1]" LOC = L13;
NET "display[0]" LOC = M12;
NET "display[6]" LOC = L14;
