//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 01 10:08:31 2024
//! **************************************************************************

SCHEMATIC START;
COMP "display<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "entrada<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "entrada<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "display<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "display<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "display<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "display<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "display<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "display<5>" LOCATE = SITE "H12" LEVEL 1;
SCHEMATIC END;

